[Desktop Entry]
Type=Application
Name=BrunO2
Comment=BrunO2 GUI
NoDisplay=false
Exec=/usr/bin/lxterminal -e /home/bruno2/bruno2/raspi/startBrunO2.sh
NotShowIn=GNOME;KDE;XFCE;
